<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
    <link href="/css/home.css" rel="stylesheet" />
    <link href="/css/category.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos los productos</title>
</head>

<body>

    <!-- HEADER -->
    <%- include('../partials/header.ejs')%>

    <div class="fondo">
        <main class="main">
            <% if (esBusqueda) { %>
                <% if (products.length > 0) { %>
                    <h2 class= "destacados__titulo">Productos encontrados</h2>
                <% } else { %>
                    <h2 class= "destacados__titulo">No se encontraron productos</h2>
                <% } %>
            <% } else { %>
                <h2 class= "destacados__titulo">Todos los productos</h2>
            <%  } %>
            <div class="contenedor2">
                <div class="contenedor-cards2">
                    <%for (let i=0; i<products.length; i++){%>
                        <div class="contenedor-card-item2">
                            <div class="contenedor-card-item-wrapper2">
                                <div class="img__wrapper">
                                    <a href="/product/detail/<%=products[i].id%>">
                                        <img src="<%=products[i].image.url%>" alt="Producto-<%=products[i].id%>">
                                    </a>
                                    <div class="contenedor-info">
                                        <p class="titulo">
                                            <%=products[i].nombre%>
                                        </p>
                                        <div class="oferta-precio">
                                                <p class="precio-final">
                                                    <%="$" + Math.trunc(products[i].precio - (products[i].precio * (products[i].descuento / 100)))%>
                                                </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                </div>
            </div>
        </main>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs')%>
    </div>

</body>
</html>