<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
    <title>Carrito de Compras</title>
    <link href="/css/cart.css" rel="stylesheet" />
</head>

<body>

  <!--HEADER-->
  <%- include('../partials/header.ejs')%>
  <!--MAIN-->
  <div class="fondo">
      <main class="contenedor">
        <!--SECCION DE COMPRAS-->
        <% if (arrayProductos.length == 0) { %>
            <h1 class="tituloCarrito"> <i class="fa-solid fa-cart-shopping" id="i-carrito"></i>
                ¡Tu carrito está vacío!
            </h1>
        <% } else { %>
        <h1 class="tituloCarrito"> <i class="fa-solid fa-cart-shopping" id="i-carrito"></i>
          Carrito de compras
        </h1>
        <% } %> 
        <% if (arrayProductos.length > 0) { %>
        <section class="carrito">
            <div class="item">
                <h2 class="item__titulo">Detalle de compra</h2>
                <%for (let i = 0; i < arrayProductos.length; i++) { %>
                <div class="tarjeta">
                        <a href="/product/detail/ <%=arrayProductos[i].id %>">
                            <img src="<%=arrayProductos[i].image.url%>" alt="imagen del producto" class="tarjeta__img">
                        </a>
                        <div class="item__detalle">
                            <a href="/product/detail/ <%=arrayProductos[i].id %>"><h3 class="item__detalle--nombre"><%=arrayProductos[i].nombre%></h3></a>
                            <p class="item__detalle--descripcion"><%=arrayProductos[i].descripcion%></p>
                            <div class="item__datos">
                                <div class="item__datos--cantidad">
                                    <button class="item__datos--boton" id="menos">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>
                                    <span class="item__datos--contar"><%=arrayProductos[i].cantidad%></span>
                                    <button class="item__datos--boton" id="mas">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                                <div class="item__datos--precio">
                                    <span id="precio">$<%=arrayProductos[i].precio - arrayProductos[i].precio * (arrayProductos[i].descuento / 100)%></span>
                                </div>
                            </div>
                        </div>
                        <form action="/product/cart/delete/<%=arrayProductos[i].id%>" method="POST">   
                            <button class="item__detalle--cerrar" type="submit"> 
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </form>
                </div>
                <%}%>
            </div>
            <div class="compra">
                <div class="compra__costos">
                    <div class="compra__costos--total">
                        <span>Total:</span> <span> <span id="total"><%="$" + carrito.montoTotal%></span></span>
                    </div>
                </div>
                <p class="compra__comprar">
                    <button class="cart-btn" id="comprar"><a href="/">Continuar compra</a></button>
                </p>
            </div>
        </section>
    <% } %>
    </main>
      <!--FOOTER-->
      <%- include('../partials/footer.ejs')%>

  </div>
  </div>
</body>

</html>