<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
    <link href="/css/home.css" rel="stylesheet" />
    <link href="/css/category.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos los productos</title>
</head>

<body>

    <!-- HEADER -->
    <%- include('../partials/header.ejs')%>

    <div class="fondo">
        <main>

            <h2 class= "destacados__titulo">Todos los productos</h2>

            <div class="contenedor">
                <div class="contenedor-cards">
                    <%for (let i=0; i<products.length; i++){%>
                        <div class="contenedor-card-item">
                            <div class="contenedor-card-item-wrapper">
                                <a href="/product/detail/<%=products[i].id%>">
                                    <img src="<%=products[i].image.url%>"
                                        alt="Producto-<%=products[i].id%>">
                                </a>
                                <div class="contenedor-info">
                                    <div class="info">
                                        <p class="titulo">
                                            <%=products[i].nombre%>
                                        </p>
                                        <span class="categoria">
                                            <%=products[i].subcategoria%>
                                        </span>
                                    </div>
                                    <!-- <div class="fondo"></div> -->
                                </div>
                            </div>
                        </div>
                        <%}%>
                </div>
            </div>



        </main>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs')%>
    </div>

</body>
</html>