<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
        <link href="/css/productDetail.css" rel="stylesheet" />
        <title>Detalle de Producto</title>
</head>

<body>

    <!-- HEADER -->
    <%- include('../partials/header.ejs')%>
        <!--MAIN-  -->
        <div class="fondo">
            <main>
                <h1 id="name">
                    <%=elProducto.nombre%>
                </h1>
                <section class="product__container">
                    <!-- Left Column / Merch Image -->
                    <div class="left-column">
                        <img class="product__image" src="<%=elProducto.image[0].url%>" alt="<%=elProducto.nombre%>" class="imagen__principal">
                    </div>

                    <!-- Right Column -->
                    <div class="right-column">
                        <!-- Product Description -->
                        <div class="product-description">
                            <h2 class="product-favAndShare">
                                <div>
                                    <a href="#" class="product-btn"><i class="far fa-bookmark" alt="Agregar a favoritos"></i></a>
                                </div>
                                <div>
                                    <a href="#" class="product-btn"><i class="fas fa-share"></i></a>
                                </div>
                                <% if(locals.userLogged && locals.userLogged.esAdmin){ %>
                                    <div>
                                        <a href="/product/<%=elProducto.id%>/edit" class="product-btn">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                    </div>
                                    <% } %>

                                        <!-- Rating -->
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                            </h2>
                            <p class="product__text text--descripcion">
                                <%=elProducto.descripcion%>
                            </p>
                            <div>
                                <% for( let i = 0; i < elProducto.attribute.length; i++ ) { %>
                                    <span class="product__text text--attribute"> 
                                        <%=elProducto.attribute[i].nombre + ":"%> 
                                    </span>
                                    <span class="product__text text--attribute">
                                        <%= elProducto.attribute[i].AttributeProduct.valor + "."%> 
                                    </span>
                                    <br>
                                <% } %>
                            </div>
                        </div>
                        <!-- Product Pricing -->
                        <div class="product__price">
                            <%if(elProducto.descuento==0){%>
                                <span class="product__price--number">$<%=elProducto.precio%></span>
                            <%}%>
                            <%if(elProducto.descuento>0){%>
                                <span class="product__price--discount">$<%=elProducto.precio%></span>
                                <span class="product__price--number">$
                                    <%=(elProducto.precio)-(elProducto.precio*(elProducto.descuento /100))%>
                                </span>
                            <%}%>
                            <form action="/product/cart/<%=elProducto.id%>" method="POST">
                                <button type="submit" class="cart-btn" type="submit">
                                    Agregar al carrito
                                </button> 
                            </form>       
                        </div>
                    </div>
                </section>
                <section class="suggested__container">
                    <h2 class="suggested__title"> 
                        Productos sugeridos
                    </h2>
                    <!-- Barra de productos sugeridos -->
                        <div class="contenedor2">
                            <div class="contenedor-cards2">
                                <%for (let i=0; i<4 && i<productosDesordenados.length;i++){%>
                                    <div class="contenedor-card-item2">
                                        <div class="contenedor-card-item-wrapper2">
                                            <div class="img__wrapper">
                                                <a href="/product/detail/<%=productosDesordenados[i].id%>">
                                                    <img src="<%=productosDesordenados[i].image.url%>" alt="Producto-<%=productosDesordenados[i].id%>">
                                                </a>
                                                <div class="contenedor-info">
                                                    <p class="titulo">
                                                        <%=productosDesordenados[i].nombre%>
                                                    </p>
                                                    <div class="oferta-precio">
                                                            <p class="precio-original">
                                                                <%="$" + Math.trunc(productosDesordenados[i].precio)%>
                                                            </p>
                                                            <p class="precio-final">
                                                                <%="$" + Math.trunc(productosDesordenados[i].precio - (productosDesordenados[i].precio * (productosDesordenados[i].descuento / 100)))%>
                                                            </p>
                                                            <p class="oferta">
                                                                <%=productosDesordenados[i].descuento + "% OFF" %> 
                                                            </p>
                                                    </div>
                                            </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <%}%>
                            </div>
                        </div>
                </section>
            </main>
            <!-- FOOTER -->
            <%- include('../partials/footer.ejs')%>
        </div>
</body>

</html>