<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/css/productCreate.css">
        <script src="/js/productEdit.js" defer></script>
        <script src="/js/productEditValidations.js" defer></script>
        <title>Editar Producto</title>
</head>

<body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs')%>
        <!-- MAIN -->
        <div class="fondo">
            <main>
                <section class="titulo">
                    <h1 class="titulo__text">Editar producto</h1>
                </section>
                <div class="formulario__container">
                    <form class="formulario" action="/product/<%=product.id%>/edit?_method=PUT" method="post" enctype="multipart/form-data">
                        <div class="formulario__item">
                            <label class="formulario__label" for="id">Producto <%=product.id%> </label>
                            
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="nombre">Nombre del producto:</label>
                            <input class="formulario__input  <%= locals.errors && errors.nombre ? 'input--invalid' : null %>"
                                type="text" id="nombre" name="nombre"
                                value="<%=product.nombre%>" placeholder="Raíz de mandrágora">
                            <i class="fa-solid fa-circle-check input--icon icon--valid hidden" id="iconValidNombre"></i>
                            <i class="fa-solid fa-circle-exclamation input--icon icon--invalid hidden" id="iconInvalidNombre"></i>
                            <p class="formulario__error" id="errorNombre">
                                <%= (locals.errors && errors.nombre)? errors.nombre.msg : "" %> 
                            </p>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="descripcion">Descripción:</label>
                            <textarea class="formulario__input input--text-area <%= locals.errors && errors.descripcion ? 'invalid' : null %>" type="text" id="descripcion" name="descripcion" value="<%=product.descripcion%>" placeholder="Esta planta crece en bosques sombríos, a la vereda de ríos y arroyos donde la luz del sol no penetra. "></textarea>
                                <i class="fa-solid fa-circle-check input--icon icon--valid hidden" id="iconValidDescripcion"></i>
                                <i class="fa-solid fa-circle-exclamation input--icon icon--invalid hidden" id="iconInvalidDescripcion"></i>
                                <p class="formulario__error" id="errorDescripcion">
                                    <%= (locals.errors && errors.descripcion)? errors.descripcion.msg : null%>
                                </p>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="categoria">Categoría a la que pertenece:</label>
                            <select class="formulario__desplegable" id="categoria" name="categoria">
                                    <% for( const unaCategoria of categorias ) { %>
                                        <option <%if(product.categoryID==unaCategoria.id ){%> selected <%}%> value="<%=unaCategoria.id %>"><%= unaCategoria.nombre %> </option>
                                    <% } %>
                            </select>
                            <% if (locals.errors && errors.categoria) { %>
                                <div class="text-danger">
                                    <p>
                                        <%=errors.categoria.msg%>
                                    </p>
                                </div>
                            <% } %>
                            <select class="formulario__desplegable" id="subcategoria" name="subcategoria">
                                    <% for( const unaSubcategoria of subcategorias) { %>
                                        <option <%if(product.subcategoryID==unaSubcategoria.id ){%> selected <%}%> value="<%= unaSubcategoria.id %>"  data-nombre="<%= unaSubcategoria.nombre%>"> <%= unaSubcategoria.nombre %> </option>
                                    <% } %>
                            </select>
                            <% if (locals.errors && errors.subcategoria) { %>
                                <div class="text-danger">
                                    <p>
                                        <%=errors.subcategoria.msg%>
                                    </p>
                                </div>
                            <% } %>
                        </div>
                        <div class="input--atributos" id="JuegoDeMesa">
                            <div class="formulario__item">
                                <label class="formulario__label" for="cantidadJugadorxs">Cantidad de Jugadorxs:</label>
                                <input class="formulario__input" type="number" value="<%= locals.oldData ? oldData.autoriaLibro : (product.subcategoryID == 1 ? product.attribute[0].AttributeProduct.valor : null) %>" name="cantidadJugadorxs" id="cantidadJugadorxs">
                            </div>
                            <div class="formulario__item">
                                <label class="formulario__label" for="edadRecomendada">Edad Recomendada:</label>
                                <input class="formulario__input" type="number" value="<%= locals.oldData ? oldData.autoriaLibro : (product.subcategoryID == 1 ? product.attribute[1].AttributeProduct.valor : null) %>" name="edadRecomendada" id="edadRecomendada">
                            </div>
                        </div>
                        <div class="input--atributos" id="Videojuego">
                            <div class="formulario__item">
                                <label class="formulario__label" for="desarrolladorx">Desarrollado por:</label>
                                <input class="formulario__input" type="text" value="<%= locals.oldData ? oldData.autoriaLibro : (product.subcategoryID == 2 ? product.attribute[0].AttributeProduct.valor : null) %>" name="desarrolladorx" id="desarrolladorx">
                            </div>
                            <div class="formulario__item">
                                <label class="formulario__label" for="lanzamiento">Fecha de Lanzamiento:</label>
                                <input class="formulario__input" type="date" value="<%= locals.oldData ? oldData.autoriaLibro : (product.subcategoryID == 2 ? product.attribute[1].AttributeProduct.valor : null) %>" name="lanzamiento" id="lanzamiento">
                            </div>      
                        </div>
                        <div class="input--atributos" id="Libro">
                            <div class="formulario__item">
                                <label class="formulario__label" for="extension">Cantidad de páginas:</label>
                                <input class="formulario__input" type="number" value="<%= locals.oldData ? oldData.autoriaLibro : (product.subcategoryID == 3 ? product.attribute[0].AttributeProduct.valor : null) %>" name="extension" id="extension">
                            </div>
                            <div class="formulario__item">
                                <label class="formulario__label" for="autoriaLibro">Autoría:</label>
                                <input class="formulario__input" type="text" value="<%= locals.oldData ? oldData.autoriaLibro : (product.subcategoryID == 3 ? product.attribute[1].AttributeProduct.valor : null) %>" name="autoriaLibro" id="autoriaLibro">
                            </div>
                        </div>
                        <div class="input--atributos" id="Audiolibro">
                            <div class="formulario__item">
                                <label class="formulario__label" for="duracionAudiolibro">Duración:</label>
                                <input class="formulario__input" type="number" value="<%= locals.oldData ? oldData.autoriaLibro : (product.subcategoryID == 4 ? product.attribute[0].AttributeProduct.valor : null) %>" name="duracionAudiolibro" id="duracionAudiolibro">
                            </div>
                            <div class="formulario__item">
                                <label class="formulario__label" for="autoriaAudiolibro">Autoría:</label>
                                <input class="formulario__input" type="text" value="<%= locals.oldData ? oldData.autoriaLibro : (product.subcategoryID == 4 ? product.attribute[1].AttributeProduct.valor : null) %>" name="autoriaAudiolibro" id="autoriaAudiolibro">
                            </div>
                            <div class="formulario__item">
                                <label class="formulario__label" for="narradorx">Narrado por:</label>
                                <input class="formulario__input" type="text" value="<%= locals.oldData ? oldData.autoriaLibro : (product.subcategoryID == 4 ? product.attribute[2].AttributeProduct.valor : null) %>" name="narradorx" id="narradorx">
                            </div>
                        </div>
                        <div class="input--atributos" id="Ropa">
                            <div class="formulario__item">
                                <label class="formulario__label" for="talle">Talle:</label>
                                <select class="formulario__desplegable" name="talle" id="talle">
                                    <option value="" selected >Elegí un talle</option>
                                    <option value="S" <%=locals.oldData && oldData.talle == "S" ? 'selected' : (product.subcategoryID == 5 && product.attribute[0].AttributeProduct.valor == "S" ? "selected": null) %> >S</option>
                                    <option value="M" <%=locals.oldData && oldData.talle == "M" ? 'selected' : (product.subcategoryID == 5 && product.attribute[0].AttributeProduct.valor == "M" ? "selected": null) %> >M</option>
                                    <option value="L" <%=locals.oldData && oldData.talle == "L" ? 'selected' : (product.subcategoryID == 5 && product.attribute[0].AttributeProduct.valor == "L" ? "selected": null) %> >L</option>
                                    <option value="XL" <%=locals.oldData && oldData.talle == "XL" ? 'selected' : (product.subcategoryID == 5 && product.attribute[0].AttributeProduct.valor == "XL" ? "selected": null) %> >XL</option>
                                </select>
                            </div>
                        </div>
                        <div class="input--atributos" id="Coleccionable">
                        </div>
                        <div class="input--atributos" id="Accesorio">
                        </div>
                        <div class="input--atributos" id="Pelicula">
                            <div class="formulario__item">
                                <label class="formulario__label" for="duracionPelicula">Duración:</label>
                                <input class="formulario__input" type="number" value="<%= locals.oldData ? oldData.autoriaLibro : (product.subcategoryID == 8 ? product.attribute[0].AttributeProduct.valor : null)%>" name="duracionPelicula" id="duracionPelicula">
                            </div>
                        </div>
                        <div class="input--atributos" id="Soundtrack">
                            <div class="formulario__item">
                                <label class="formulario__label" for="duracionSoundtrack">Duración:</label>
                                <input class="formulario__input" type="number" value="<%= locals.oldData ? oldData.autoriaLibro : (product.subcategoryID == 9 ? product.attribute[0].AttributeProduct.valor : null)%>" name="duracionSoundtrack" id="duracionSoundtrack">
                            </div>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="">Géneros de Fantasía a los que pertenece:</label>
                        </div>
                        <div class="formulario__item formulario__checkbox__container">
                            <div class="formulario__item formulario--checkbox">
                                <label class="formulario__label label--checkbox" for="esClasica">Clásica</label>
                                <input class="formulario__input input--checkbox" type="checkbox" 
                                <%for (let i = 0; i < product.genre.length; i++ ) { if(product.genre[i].id == 1) {%> checked <%} }%> name="esClasica" id="esClasica" value="1">
                            </div>
                            <div class="formulario__item formulario--checkbox">
                                <label class="formulario__label label--checkbox" for="esMedieval">Medieval</label>
                                <input class="formulario__input input--checkbox" type="checkbox" 
                                <%for (let i = 0; i < product.genre.length; i++ ) { if(product.genre[i].id == 2) {%> checked <%} }%> name="esMedieval" id="esMedieval" value="2">
                            </div>
                            <div class="formulario__item formulario--checkbox">
                                <label class="formulario__label label--checkbox" for="esJuvenil">Juvenil</label>
                                <input class="formulario__input input--checkbox" type="checkbox" 
                                <%for (let i = 0; i < product.genre.length; i++ ) { if(product.genre[i].id == 3) {%> checked <%} }%> name="esJuvenil" id="esJuvenil" value="3">
                            </div>
                            <div class="formulario__item formulario--checkbox">
                                <label class="formulario__label label--checkbox" for="esUrbana">Urbana</label>
                                <input class="formulario__input input--checkbox" type="checkbox" 
                                <%for (let i = 0; i < product.genre.length; i++ ) { if(product.genre[i].id == 4) {%> checked <%} }%> name="esUrbana" id="esUrbana" value="4">
                            </div>
                            <div class="formulario__item formulario--checkbox">
                                <label class="formulario__label label--checkbox" for="esOscura">Oscura</label>
                                <input class="formulario__input input--checkbox" type="checkbox" 
                                <%for (let i = 0; i < product.genre.length; i++ ) { if(product.genre[i].id == 5) {%> checked <%} }%> name="esOscura" id="esOscura" value="5">
                            </div>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="imagenes">Imágenes del producto:</label>
                            <input class="formulario__input input--file" type="file" id="imagenes" name="imagenes"accept="image/png, image/jpeg">
                        </div>
                        <%if(product.image!=""){%>
                            <div class="formulario__item formulario--imagen">
                                <img class="imagen-preview" src="<%= product.image[0].url %>"
                                    alt="Imagen de <%= product.nombre %>">
                            </div>
                        <%}%>
                        <% if (locals.errors && errors.imagenes) { %>
                            <div class="text-danger">
                                <p>
                                    <%=errors.imagenes.msg%>
                                </p>
                            </div>
                        <% } %>
                        <div class="formulario__item formulario__checkbox__container">
                            <div class="formulario__item formulario--checkbox">
                                <label for="esNovedad" class="formulario__label label--checkbox">¿Es una novedad?</label>
                                <input class="formulario__input input--checkbox" type="checkbox" 
                                <%if(product.esNovedad==true){%> checked <%}%> id="esNovedad" name="esNovedad" value="true">
                            </div>
                            <div class="formulario__item formulario--checkbox">
                                <label for="esDestacado" class="formulario__label label--checkbox">¿Es destacado?</label>
                                <input class="formulario__input input--checkbox" type="checkbox"
                                <%if(product.esDestacado==true){%> checked <%}%> id="esDestacado" name="esDestacado" value="true">
                            </div>
                            <div class="formulario__item formulario--checkbox">
                                <label for="esMagicPass" class="formulario__label label--checkbox">¿MagicPass?</label>
                                <input class="formulario__input input--checkbox" type="checkbox"  
                                <%if(product.esMagicPass==true ){%> checked<%}%> id="esMagicPass" name="esMagicPass" value="true">
                            </div>
                        </div>
                        <div class="formulario__item precio-descuento">
                            <div class="formulario__item input--pdm">
                                <label class="formulario__label" for="precio">Precio: </label>
                                <input class="formulario__input input--small" type="number" id="precio" name="precio" value="<%=product.precio%>">
                                <% if (locals.errors && errors.precio) { %>
                                    <div class="text-danger">
                                        <p>
                                            <%=errors.precio.msg%>
                                        </p>
                                    </div>
                                <% } %>
                            </div>
                            <div class="formulario__item input--pdm">
                                <label for="desCuento"
                                    class="formulario__label">Descuento</label>
                                <input class="formulario__input input--small" type="number" id="desCuento" name="desCuento" value="<%=product.descuento%>">
                            </div>
                        </div>
                        <div class="formulario__item last-item">
                            <button class="formulario__icon-submit" type="submit">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </form>
                    <form class="formulario--delete" action="/product/<%=product.id%>/delete?_method=DELETE"
                        method="POST">
                        <button class="formulario__icon-delete" type="submit">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </div>
            </main>
            <!-- FOOTER -->
            <%- include('../partials/footer.ejs')%>
        </div>
</body>

</html>