<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/css/productEdit.css">
        <title>Editar Producto</title>
</head>

<body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs')%>
        <!-- MAIN -->
        <div class="fondo">
            <main>
                <section class="titulo">
                    <h1 class="titulo__text">Editar producto</h1>
                </section>
                <div class="formulario__container">
                    <form class="formulario" action="/product/<%=product.id%>/edit?_method=PUT" method="post"
                        enctype="multipart/form-data">
                        <div class="formulario__item">
                            <label class="formulario__label" for="id">Producto <%=product.id%> </label>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="nombre">Nombre del producto:</label>
                            <input class="formulario__input" type="text" id="nombre" name="nombre"
                                value="<%=product.nombre%>">
                            <% if (locals.errors && errors.nombre) { %>
                                <div class="text-danger">
                                    <p>
                                        <%=errors.nombre.msg%>
                                    </p>
                                </div>
                                <% } %>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="descripcion">Descripción:</label>
                            <textarea class="formulario__input input--text-area" type="text" id="descripcion"
                                name="descripcion"><%=product.descripcion%></textarea>
                            <% if (locals.errors && errors.descripcion) { %>
                                <div class="text-danger">
                                    <p>
                                        <%=errors.descripcion.msg%>
                                    </p>
                                </div>

                                <% } %>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="categoria">Categoría a la que pertenece:</label>
                            <select class="formulario__desplegable" id="categoria" name="categoria">
                                <% let categorias=['Literatura', 'Juegos' , 'Multimedia' , 'Baratijas' ] %>
                                    <% for( const unaCategoria of categorias ) { %>
                                        <option <%if(product.categoria==unaCategoria ){%> selected <%}%> value="<%=
                                                    unaCategoria %>"><%= unaCategoria %>
                                        </option>
                                        <% } %>

                            </select>
                            <% if (locals.errors && errors.categoria) { %>
                                <div class="text-danger">
                                    <p>
                                        <%=errors.categoria.msg%>
                                    </p>
                                </div>

                                <% } %>
                                    <select class="formulario__desplegable" id="categoria" name="subcategoria">
                                        <optgroup class="formulario__option-group" label="Literatura">
                                            <% let subcategoriasLit=['Novela', 'Cuento' , 'Audiolibro' , 'Manga'
                                                , 'Historieta' ] %>
                                                <% for( const unaSubcategoria of subcategoriasLit ) { %>
                                                    <option <%if(product.subcategoria==unaSubcategoria ){%> selected
                                                        <%}%> value="<%= unaSubcategoria %>">
                                                                <%= unaSubcategoria %>
                                                    </option>
                                                    <% } %>
                                        </optgroup>
                                        <optgroup class="formulario__option-group" label="Juegos">
                                            <% let subcategoriasJueg=['Videojuego', 'Juego de mesa' ] %>
                                                <% for( const unaSubcategoria of subcategoriasJueg ) { %>
                                                    <option <%if(product.subcategoria==unaSubcategoria ){%> selected
                                                        <%}%> value="<%= unaSubcategoria %>"><%= unaSubcategoria %>
                                                    </option>
                                                    <% } %>
                                        </optgroup>
                                        <optgroup class="formulario__option-group" label="Baratijas">
                                            <% let subcategoriasBar=['Ropa', 'Accesorio' , 'Coleccionable' ] %>
                                                <% for( const unaSubcategoria of subcategoriasBar ) { %>
                                                    <option <%if(product.subcategoria==unaSubcategoria){%> selected<%}%>
                                                            value="<%= unaSubcategoria %>"><%= unaSubcategoria %>
                                                    </option>
                                                    <% } %>
                                        </optgroup>
                                        <optgroup class="formulario__option-group" label="Multimedia">
                                            <% let subcategoriasMul=['Película', 'Soundtrack' ] %>
                                                <% for( const unaSubcategoria of subcategoriasMul ) { %>
                                                    <option <%if(product.subcategoria==unaSubcategoria ){%> selected
                                                        <%}%> value="<%= unaSubcategoria %>"><%= unaSubcategoria %>
                                                    </option>
                                                    <% } %>
                                    </select>
                                    <% if (locals.errors && errors.subcategoria) { %>
                                        <div class="text-danger">
                                            <p>
                                                <%=errors.subcategoria.msg%>
                                            </p>
                                        </div>

                                        <% } %>
                        </div>
                        <div class="formulario__item formulario__checkbox__container">
                            <div class="formulario__item formulario--checkbox">
                                <label class="formulario__label label--checkbox" for="esGeneroMedieval">Medieval</label>
                                <input class="formulario__input input--checkbox" type="checkbox" <%
                                    if(product.generos.find(item=>item=="medieval")){%> checked <%}%>
                                    name="esGeneroMedieval"
                                    id="esGeneroMedieval" value="true">
                            </div>
                            <div class="formulario__item formulario--checkbox">
                                <label class="formulario__label label--checkbox" for="esGeneroUrbana">Urbana</label>
                                <input class="formulario__input input--checkbox" type="checkbox" <%
                                    if(product.generos.find(item=>item=="urbana")){%> checked <%}%>
                                    name="esGeneroUrbana"
                                    id="esGeneroUrbana" value="true">
                            </div>
                            <div class="formulario__item formulario--checkbox">
                                <label class="formulario__label label--checkbox" for="esGeneroClasica">Clásicos</label>
                                <input class="formulario__input input--checkbox" type="checkbox" <%
                                    if(product.generos.find(item=>item=="clasica")){%> checked <%}%>
                                    name="esGeneroClasica"
                                    id="esGeneroClasica" value="true">
                            </div>
                            <div class="formulario__item formulario--checkbox">
                                <label class="formulario__label label--checkbox" for="esGeneroOscura">Oscura</label>
                                <input class="formulario__input input--checkbox" type="checkbox" <%
                                    if(product.generos.find(item=>item=="oscura")){%> checked <%}%>
                                    name="esGeneroOscura"
                                    id="esGeneroOscura" value="true">
                            </div>
                            <div class="formulario__item formulario--checkbox">
                                <label class="formulario__label label--checkbox" for="esGeneroJuvenil">Juvenil</label>
                                <input class="formulario__input input--checkbox" type="checkbox" <%
                                    if(product.generos.find(item=>item=="juvenil")){%> checked <%}%>
                                    name="esGeneroJuvenil"
                                    id="esGeneroJuvenil" value="true">
                            </div>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="imagenes">Imágenes del producto:</label>
                            <input class="formulario__input input--file" type="file" id="imagenes" name="imagenes"
                                accept="image/png, image/jpeg">
                        </div>
                        <%if(product.imagenes!=""){%>
                            <div class="formulario__item formulario--imagen">
                                <img class="imagen-preview" src="<%= product.imagenes %>"
                                    alt="Imagen de <%= product.nombre %>">
                            </div>
                            <%}%>
                                <% if (locals.errors && errors.imagenes) { %>
                                    <div class="text-danger">
                                        <p>
                                            <%=errors.imagenes.msg%>
                                        </p>
                                    </div>

                                    <% } %>
                                        <div class="formulario__item formulario__checkbox__container">
                                            <div class="formulario__item formulario--checkbox">
                                                <label for="esNovedad" class="formulario__label label--checkbox">¿Es una
                                                    novedad?</label>
                                                <input class="formulario__input input--checkbox" type="checkbox"
                                                    <%if(product.esNovedad==true){%> checked <%}%>
                                                    id="esNovedad" name="esNovedad" value="true">
                                            </div>
                                            <div class="formulario__item formulario--checkbox">
                                                <label for="esDestacado" class="formulario__label label--checkbox">¿Es
                                                    destacado?</label>
                                                <input class="formulario__input input--checkbox" type="checkbox"
                                                    <%if(product.esDestacado==true){%> checked <%}%>
                                                    id="esDestacado" name="esDestacado" value="true">
                                            </div>
                                            <div class="formulario__item formulario--checkbox">
                                                <label for="esOferta" class="formulario__label label--checkbox">¿Está en
                                                    oferta?</label>
                                                <input class="formulario__input input--checkbox" type="checkbox"
                                                    <%if(product.esOferta==true ){%> checked<%}%>
                                                    id="esOferta" name="esOferta" value="true">
                                            </div>
                                        </div>
                                        <div class="formulario__item precio-desCuento-moneda">
                                            <div class="formulario__item input--pdm">
                                                <label class="formulario__label" for="precio">Precio: </label>
                                                <input class="formulario__input input--small" type="number" id="precio"
                                                    name="precio" value="<%=product.precio%>">
                                            </div>
                                            <% if (locals.errors && errors.precio) { %>
                                                <div class="text-danger">
                                                    <p>
                                                        <%=errors.precio.msg%>
                                                    </p>
                                                </div>
                                                <% } %>
                                                    <div class="formulario__item input--pdm">
                                                        <label for="desCuento"
                                                            class="formulario__label">Descuento</label>
                                                        <input class="formulario__input input--small" type="number"
                                                            id="desCuento" name="desCuento"
                                                            value="<%=product.desCuento%>">
                                                    </div>
                                                    <div class="formulario__item input--pdm">
                                                        <label class="formulario__label" for="moneda">Moneda: </label>
                                                        <select class="formulario__desplegable input--small" id="moneda"
                                                            name="moneda">

                                                            <% let monedas=['Pesos', 'Dólares' , 'Bitcoins'
                                                                , 'Guaraníes' , 'Euros' ]%>
                                                                <% for( const unaMoneda of monedas ) { %>
                                                                    <option <%if(product.moneda==unaMoneda){%>selected
                                                                        <%}%>
                                                                            value="<%= unaMoneda %>"><%= unaMoneda %>
                                                                    </option>
                                                                    <% } %>
                                                        </select>
                                                    </div>
                                        </div>
                                        <div class="formulario__item formulario--loneCheckbox">
                                            <label for="esMagicPass"
                                                class="formulario__label label--checkbox">¿Pertenece al
                                                MagicPass?</label>
                                            <input class="formulario__input input--checkbox" type="checkbox"
                                                id="esMagicPass" name="esMagicPass" value="true"
                                                <%if(product.esMagicPass==true ){%> checked<%}%>>
                                        </div>
                                        <div class="formulario__item last-item">
                                            <button class="formulario__icon-submit" type="submit">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                        </div>
                    </form>
                    <form class="formulario--delete" action="/product/<%=product.id%>/delete?_method=DELETE"
                        method="POST">
                        <button class="formulario__icon-delete" type="submit">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </div>
            </main>
            <!-- FOOTER -->
            <%- include('../partials/footer.ejs')%>
        </div>
</body>

</html>