<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
        <link href="/css/home.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/partialsCss/novedadesDesk.css">
        <link rel="stylesheet" href="/css/partialsCss/novedadesMobile.css">
        <link rel="stylesheet" href="/css/partialsCss/destacadosDesk.css">
</head>

<body>
    <%- include('./partials/header.ejs')%>
        <div class="fondo">
            <main class="main">
                <!--presentacion-->
                <section class="presentacion contenedor--sombra">
                    <div class="presentacion__container">
                        <h2 class="presentacion--tituloChico"> Llegaste por fin a...</h2>
                        <h1 class="presentacion--tituloGrande"> Orácula</h1>
                        <div class="presentacion--texto"> Tomate un descanso de tu viaje y observá este sitio maravilloso...
                            En el caldero de Orácula mezclamos todo aquello que nos llega desde universos fantásticos.
                            ¡Y MagicPass es la herramienta que te permitirá acceder a nuestro contenido de forma
                            ilimitada!
                        </div>
                    </div>
                </section>
                <!--categorias-->
                <section class="categorias">
                    <div class="categorias__container">
                        <a href="#" class="categorias__boton">
                            <i class="iconify categorias__icon" data-icon="fa-solid:cat"></i>
                            <div class="categorias__nombre">MagicPass</div>
                        </a>
                        <a href="/category/4" class=" categorias__boton">
                            <i class="iconify categorias__icon" data-icon="fa-solid:bone"></i>
                            <div class="categorias__nombre">Baratijas</div>
                        </a>
                        <a href="/category/3" class=" categorias__boton">
                            <i class="iconify categorias__icon" data-icon="fa6-solid:eye"></i>
                            <div class="categorias__nombre">Multimedia</div>
                        </a>
                        <a href="/category/1" class=" categorias__boton">
                            <i class="iconify categorias__icon" data-icon="fa-solid:dice-d20"></i>
                            <div class="categorias__nombre">Juegos</div>
                        </a>
                        <a href="/category/2" class=" categorias__boton">
                            <i class="iconify categorias__icon" data-icon="el:fire"></i>
                            <div class="categorias__nombre">Literatura</div>
                        </a>
                        <a href="#" class=" categorias__boton">
                            <i class="iconify categorias__icon" data-icon="fa6-solid:frog"></i></i></i>
                            <div class="categorias__nombre">Zona Fans</div>
                        </a>
                        <!-- <a class="categorias_soundtracks categorias__boton"><span class="iconify categorias__icon"
                                data-icon="mdi:music-clef-treble"></span></span></span></i></i>
                            <div class="categorias--nombre">Soundtracks</div>
                        </a> -->
                        <!-- <a class="categorias_creadorxs categorias__boton"><span class="iconify categorias__icon"
                                data-icon="bi:lightning-fill"></span></span></i></i>
                            <div class="categorias--nombre">Creadorxs</div>
                        </a> -->
                    </div>
                </section>

                <!--Destacados-->
                <h2 class="destacados__titulo"> Maravillas destacadas </h2>

                <!-- Slider de destacados Desktop -->
                <%- include('./partials/destacadosDesk.ejs')%>

                    <!-- Novedades -->

                    <!-- novedades SliderMobile -->
                    <%- include('./partials/novedadesMobile.ejs')%>
                        <section class="ofertasCards">
                            <h2 class="ofertas__titulo"> Mirá estas ofertas </h2>
                            <div class="contenedor2">
                                <div class="contenedor-cards2">
                                    <%for (let i=0; i<ofertas.length; i++){%>
                                        <div class="contenedor-card-item2">
                                            <div class="contenedor-card-item-wrapper2">
                                                <div class="img__wrapper">
                                                    <a href="/product/detail/<%=ofertas[i].id%>">
                                                        <img src="<%=ofertas[i].image.url%>" alt="Producto-<%=ofertas[i].id%>">
                                                    </a>
                                                    <div class="contenedor-info">
                                                        <p class="titulo">
                                                            <%=ofertas[i].nombre%>
                                                        </p>
                                                        <div class="oferta-precio">
                                                                <p class="precio-original">
                                                                    <%="$" + Math.trunc(ofertas[i].precio)%>
                                                                </p>
                                                                <p class="precio-final">
                                                                    <%="$" + Math.trunc(ofertas[i].precio - (ofertas[i].precio * (ofertas[i].descuento / 100)))%>
                                                                </p>
                                                                <p class="oferta">
                                                                    <%=ofertas[i].descuento + "% OFF" %> 
                                                                </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                </div>
                            </div>
                        </section>
            </main>
            <%- include('./partials/footer.ejs')%>
        </div>
</body>

</html>