<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
        <link href="/css/home.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/partialsCss/novedadesDesk.css">
        <link rel="stylesheet" href="/css/partialsCss/novedadesMobile.css">
        <link rel="stylesheet" href="/css/partialsCss/destacadosDesk.css">
</head>

<body>
    <%- include('./partials/header.ejs')%>
        <div class="fondo">
            <main class="main">
                <!--presentacion-->
                <section class="presentacion contenedor--sombra">
                    <div class="presentacion__container">
                        <h2 class="presentacion--tituloChico"> Has llegado por fin a...</h2>
                        <h1 class="presentacion--tituloGrande"> Orácula</h1>
                        <div class="presentacion--texto"> Tomate un descanso de tu viaje y observa este sitio
                            maravilloso...

                            En el caldero de Orácula mezclamos todo aquello que nos llega desde universos fantásiticos.

                            ¡Y MagicPass es la herramienta que te permitirá acceder a nuestro contenido de forma
                            ilimitada!
                        </div>
                    </div>
                </section>
                <!--categorias-->
                <section class="categorias">
                    <div class="categorias__container">
                        <a href="#" class="categorias__boton">
                            <i class="iconify categorias__icon" data-icon="fa-solid:cat"></i>
                            <div class="categorias__nombre">MagicPass</div>
                        </a>
                        <a href="/category/Baratijas" class=" categorias__boton">
                            <i class="iconify categorias__icon" data-icon="fa-solid:bone"></i>
                            <div class="categorias__nombre">Baratijas</div>
                        </a>
                        <a href="/category/Multimedia" class=" categorias__boton">
                            <i class="iconify categorias__icon" data-icon="fa6-solid:eye"></i>
                            <div class="categorias__nombre">Multimedia</div>
                        </a>
                        <a href="/category/Juegos" class=" categorias__boton">
                            <i class="iconify categorias__icon" data-icon="fa-solid:dice-d20"></i>
                            <div class="categorias__nombre">Juegos</div>
                        </a>
                        <a href="/category/Literatura" class=" categorias__boton">
                            <i class="iconify categorias__icon" data-icon="el:fire"></i>
                            <div class="categorias__nombre">Literatura</div>
                        </a>
                        <a href="#" class=" categorias__boton">
                            <i class="iconify categorias__icon" data-icon="fa6-solid:frog"></i></i></i>
                            <div class="categorias__nombre">Zona Fans</div>
                        </a>
                        <!-- <a class="categorias_soundtracks categorias__boton"><span class="iconify categorias__icon"
                                data-icon="mdi:music-clef-treble"></span></span></span></i></i>
                            <div class="categorias--nombre">Soundtracks</div>
                        </a> -->
                        <!-- <a class="categorias_creadorxs categorias__boton"><span class="iconify categorias__icon"
                                data-icon="bi:lightning-fill"></span></span></i></i>
                            <div class="categorias--nombre">Creadorxs</div>
                        </a> -->
                    </div>
                </section>

                <!--Destacados-->
                <h2 class="destacados__titulo"> Maravillas </h2>

                <!-- Slider de destacados Desktop -->
                <%- include('./partials/destacadosDesk.ejs')%>

                    <!-- Novedades -->

                    <!-- novedades SliderMobile -->
                    <%- include('./partials/novedadesMobile.ejs')%>


                        <!--Productos-->
                        <h2 class="otros__titulo"> Mas productos que podés disfrutar </h2>
                        <section class="productos">

                            <a href="#" class="imgVertical--sombra">
                                <img class="productos_imgVertical" src="\img\productos\coraline.jpg" alt="">
                            </a>
                            <div class="productos_horizontal">
                                <a href="#" class="imgHorizontal--sombra">
                                    <img class="productos_imgHorizontal" src="\img\productos\undertale.png" alt="">
                                </a>

                                <div class="zonaFans">

                                    <h3 class="productos__titulo"> Zona de Fans</h3>
                                    <p class="productos__descripcion">¡Vení a ver el contenido genial que suben lxs fans
                                        y sumá
                                        el
                                        tuyo!</p>
                                    <span class="iconify productos__icono" data-icon="fa-solid:otter"></span>

                                </div>
                            </div>

                        </section>
                        <section class="ofertasCards">
                            <h2 class="ofertas__titulo"> Mirá estas ofertas </h2>
                            <div class="contenedor2">
                                <div class="contenedor-cards2">
                                    <%for (let i=0; i<ofertas.length; i++){%>
                                        <div class="contenedor-card-item2">
                                            <div class="contenedor-card-item-wrapper2">
                                                <a href="/product/detail/<%=ofertas[i].id%>">
                                                    <img src="<%=ofertas[i].imagenes%>"
                                                        alt="Producto-<%=ofertas[i].id%>">
                                                </a>
                                                <div class="contenedor-info">
                                                    <div class="info">
                                                        <p class="titulo">
                                                            <%=ofertas[i].nombre%>
                                                        </p>
                                                        <p class="categoria">
                                                            <%=ofertas[i].categoria%>
                                                        </p>
                                                        <p class="oferta">
                                                            <%=ofertas[i].descuento%>%
                                                        </p>
                                                    </div>
                                                    <!-- <div class="fondo"></div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                </div>
                            </div>
                        </section>
            </main>
            <%- include('./partials/footer.ejs')%>
        </div>
</body>

</html>