<!-- Novedades Slider Mobile -->
<section class="novedades contenedor--sombra">
    <h2 class="novedades__titulo"> ¡No te pierdas las novedades! </h2>
    <div class="novedades__container">              
        <%for (let i=0; i<novedades.length; i++){%>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <a href="/product/detail/<%=novedades[i].id%>">
                        <img src="<%=novedades[i].image.url%>" alt="Producto-<%=novedades[i].id%>">
                    </a>
                    <div class="contenedor-info-novedades">
                        <div class="info">
                            <p class="titulo"> <%=novedades[i].nombre%></p>
                            <span class="categoria"><%=novedades[i].subcategory.nombre%></span>
                        </div>
                        <!-- <div class="fondo"></div> -->
                    </div>
                </div>
            </div>
        <%}%>
    </div>
</section>