<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <!--header-->
    <%- include('../partials/headerMinimalista.ejs')%>
        <!--main-->
        <div class="fondo">
            <main class="main">
                <section class="titulo">
                    <% if (locals && locals.isAdmin) { %>
                        <h1 class="titulo__text">Crear cuenta</h1>
                    <% } else { %>
                        <h1 class="titulo__text">Crear cuenta</h1>
                    <% } %>
                </section>
                <section class="formulario__box">
                    <section class="formulario__container">
                        <!-- YA CON METHOD = "POST"-->
                        <form class="formulario" action="/user/signup" method="post" enctype="multipart/form-data">
                            <div class="formulario__item">
                                <label class="formulario__label" for="nombre">Nombre:</label>
                                <input data-nombre="nombre"
                                    class="formulario__input <%= locals.errors && errors.nombre ? 'invalid' : null %>"
                                    type="text" id="nombre" name="nombre"
                                    value="<%= locals.oldData ? oldData.nombre : null %>">
                                <div></div>
                                <% if (locals.errors && errors.nombre) { %>
                                    <div class="text-danger">
                                        <p><%=errors.nombre.msg%></p>
                                    </div>
                                <% } %>
                            </div>
                            <div class="formulario__item">
                                <label class="formulario__label" for="apellido">Apellido:</label>
                                <input data-nombre="apellido"
                                    class="formulario__input <%= locals.errors && errors.apellido ? 'invalid' : null %>"
                                    type="text" id="apellido" name="apellido"
                                    value="<%= locals.oldData ? oldData.apellido : null %>">
                                <div></div>
                                <% if (locals.errors && errors.apellido) { %>
                                    <div class="text-danger">
                                        <p><%=errors.apellido.msg%></p>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="formulario__item"> 
                                <label class="formulario__label" for="email">Email:</label>
                                <input data-nombre="email" class="formulario__input <%= locals.errors && errors.email ? 'invalid' : null %>"
                                    type="email" id="email" name="email"
                                    value="<%= locals.oldData ? oldData.email : null %>">
                                <div></div>
                                <% if (locals.errors && errors.email) { %>
                                    <div class="text-danger">
                                        <p><%=errors.email.msg%></p>
                                    </div>
                                <% } %>
                            </div>
                            <div class="formulario__item">
                                <label class="formulario__label" for="direccion">Dirección:</label>
                                <input 
                                    class="formulario__input <%= locals.errors && errors.direccion ? 'invalid' : null %>"
                                    type="text" id="direccion" name="direccion"
                                    value="<%= locals.oldData ? oldData.direccion : null %>">
                            </div>
                            <div class="formulario__item">
                                <label class="formulario__label" for="telefono">Teléfono:</label>
                                <input
                                    class="formulario__input <%= locals.errors && errors.telefono ? 'invalid' : null %>"
                                    type="number" id="telefono" name="telefono"
                                    value="<%= locals.oldData ? oldData.telefono : null %>">
                            </div>
                            <div class="formulario__item">
                                <label class="formulario__label" for="profile-picture">Imagen de perfil:</label>
                                <input data-nombre="imagen" class="formulario__input input--file" type="file" id="profilePicture"
                                    name="profilePicture" accept="image/png, image/jpeg">
                                <div></div>
                                <% if (locals.errors && errors.profilePicture) { %>
                                    <div class="text-danger">
                                        <p>
                                            <%=errors.profilePicture.msg%>
                                        </p>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="formulario__item">
                                <label class="formulario__label" for="password">Contraseña:</label>
                                <input data-nombre="password"
                                    class="formulario__input <%= locals.errors && errors.password ? 'invalid' : null %>"
                                    type="password" id="password" name="password" minlength="8">
                                <div></div>
                                <% if (locals.errors && errors.password) { %>
                                    <div class="text-danger">
                                        <p>
                                            <%=errors.password.msg%>
                                        </p>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="formulario__item">
                                <label class="formulario__label" for="passwordRepetir">Repita su Contraseña:</label>
                                <input data-nombre="passwordRepetir"
                                    class="formulario__input <%= locals.errors && errors.passwordRepetir ? 'invalid' : null %>"
                                    type="password" id="passwordRepetir" name="passwordRepetir"
                                    data-nombre="passwordRepetir" minlength="8">
                                <div></div>
                                <% if (locals.errors && errors.passwordRepetir) { %>
                                    <div class="text-danger">
                                        <p>
                                            <%=errors.passwordRepetir.msg%>
                                        </p>
                                    </div>
                                    <% } %>
                            </div>
                            <% if (locals && locals.isAdmin) { %>
                                <div class="formulario__item formulario--checkbox">
                                    <label class="formulario__label label--checkbox" for="isAdmin">¿Es
                                        Administradorx?</label>
                                    <input class="input--checkbox" type="checkbox" name="isAdmin" id="isAdmin">
                                </div>
                                <% } %>
                                    <div class="formulario__submit">
                                        <p class="label--secondary">
                                            <% if (locals && !locals.isAdmin) { %>
                                                ¿Ya tenés cuenta? <a class="formulario__link" href="/user/login">Ingresá
                                                    acá.</a>
                                                <% } %>
                                        </p>
                                        <button type="submit">
                                            <i class="fa-solid fa-circle-arrow-right formulario__icon-submit"></i>
                                        </button>
                                    </div>
                        </form>
                    </section>
                </section>
            </main>
            <!--footer-->
            <%-// include('../partials/footer.ejs')%>
        </div>
        <script src="/js/signupValidator.js"></script>
</body>

</html>