<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <!--header-->
    <%- include('../partials/header.ejs')%>
     <!-- MAIN -->
    <div class="fondo">
            <main>
                <section class="titulo">
                    <h1 class="titulo__text">Editar Usuario</h1>
                </section>
                <div class="formulario__container">
                    <form class="formulario" action="/user/<%=user.id%>/edit?_method=PUT" method="post">
                        <div class="formulario__item">
                            <label class="formulario__label" for="id">Producto <%=product.id%> </label>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="nombre">Nombre del producto:</label>
                            <input class="formulario__input" type="text" id="nombre" name="nombre"
                                value="<%=product.nombre%>">
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="descripcion">Descripción:</label>
                            <textarea class="formulario__input input--text-area" type="text" id="descripcion"
                                name="descripcion"><%=product.descripcion%></textarea>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="categoria">Categoría a la que pertenece:</label>
                            <select class="formulario__desplegable" id="categoria" name="categoria">
                                <option <%if(product.categoria=="literatura" ){%> selected <%}%>
                                        value="literatura">Literatura</option>
                                <option <%if(product.categoria=="juegos" ){%> selected <%}%>
                                        value="juegos">Juegos</option>
                                <option <%if(product.categoria=="multimedia" ){%> selected <%}%>
                                        value="multimedia">Multimedia</option>
                                <option <%if(product.categoria=="baratijas" ){%> selected <%}%>
                                        value="baratijas">Baratijas</option>
                            </select>
                            <select class="formulario__desplegable" id="categoria" name="subcategoria">
                                <optgroup class="formulario__option-group" label="Literatura">
                                    <option <%if(product.subcategoria=="novela" ){%> selected<%}%> value="novela">Libro:
                                            Novela</option>
                                    <option <%if(product.subcategoria=="cuento" ){%> selected<%}%> value="cuento">Libro:
                                            Cuentos</option>
                                    <option <%if(product.subcategoria=="audiolibro" ){%> selected<%}%>
                                            value="audiolibro">Audiolibro</option>
                                    <option <%if(product.subcategoria=="manga" ){%> selected<%}%> value="manga">Manga
                                    </option>
                                    <option <%if(product.subcategoria=="historieta" ){%> selected<%}%>
                                            value="historieta">Historieta</option>
                                </optgroup>
                                <optgroup class="formulario__option-group" label="Juegos">
                                    <option <%if(product.subcategoria=="videojuego" ){%> selected<%}%>
                                            value="videojuego">Videojuego</option>
                                    <option <%if(product.subcategoria=="juegoDeMesa" ){%> selected<%}%>
                                            value="juegoDeMesa">Juego de Mesa</option>
                                </optgroup>
                                <optgroup class="formulario__option-group" label="Baratijas">
                                    <option <%if(product.subcategoria=="ropa" ){%> selected<%}%> value="ropa">Ropa
                                    </option>
                                    <option <%if(product.subcategoria=="accesorio" ){%> selected<%}%>
                                            value="accesorio">Accesorio</option>
                                    <option <%if(product.subcategoria=="coleccionable" ){%> selected<%}%>
                                            value="coleccionable">Coleccionable</option>
                                </optgroup>
                                <optgroup class="formulario__option-group" label="Multimedia">
                                    <option <%if(product.subcategoria=="pelicula" ){%> selected<%}%>
                                            value="pelicula">Película</option>
                                    <option <%if(product.subcategoria=="soundtrack" ){%> selected<%}%>
                                            value="soundtrack">Soundtrack</option>
                            </select>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="imagenes">Imágenes del producto:</label>
                            <input class="formulario__input input--file" type="file" id="imagenes" name="imagenes"
                                accept="image/png, image/jpeg">
                        </div>
                        <%if(product.imagenes!=""){%>
                            <div class="formulario__item formulario--imagen">
                                <img class="imagen-preview" src="<%= product.imagenes %>"
                                    alt="Imagen de <%= product.nombre %>">
                            </div>
                            <%}%>
                                <div class="formulario__item formulario__checkbox__container">
                                    <div class="formulario__item formulario--checkbox">
                                        <label for="esNovedad" class="formulario__label label--checkbox">¿Es una
                                            novedad?</label>
                                        <input class="formulario__input input--checkbox" type="checkbox"
                                            <%if(product.esNovedad==true){%> checked <%}%>
                                            id="esNovedad" name="esNovedad" value="true">
                                    </div>
                                    <div class="formulario__item formulario--checkbox">
                                        <label for="esDestacado" class="formulario__label label--checkbox">¿Es
                                            destacado?</label>
                                        <input class="formulario__input input--checkbox" type="checkbox"
                                            <%if(product.esDestacado==true){%> checked <%}%>
                                            id="esDestacado" name="esDestacado" value="true">
                                    </div>
                                    <div class="formulario__item formulario--checkbox">
                                        <label for="esOferta" class="formulario__label label--checkbox">¿Está en
                                            oferta?</label>
                                        <input class="formulario__input input--checkbox" type="checkbox"
                                            <%if(product.esOferta==true ){%> checked<%}%>
                                            id="esOferta" name="esOferta" value="true">
                                    </div>
                                </div>
                                <div class="formulario__item precio-descuento-moneda">
                                    <div class="formulario__item input--pdm">
                                        <label class="formulario__label" for="precio">Precio: </label>
                                        <input class="formulario__input input--small" type="number" id="precio"
                                            name="precio" value="<%=product.precio%>">
                                    </div>
                                    <div class="formulario__item input--pdm">
                                        <label for="descuento" class="formulario__label">Descuento</label>
                                        <input class="formulario__input input--small" type="number" id="descuento"
                                            name="descuento" value="<%=product.descuento%>">
                                    </div>
                                    <div class="formulario__item input--pdm">
                                        <label class="formulario__label" for="moneda">Moneda: </label>
                                        <select class="formulario__desplegable input--small" id="moneda">
                                            <option <%if(product.moneda=="pesos" ){%>selected<%}%> value="pesos">
                                                    Pesos</option>
                                            <option <%if(product.moneda=="dolares" ){%>selected<%}%> value="dolares">
                                                    Dólares</option>
                                            <option <%if(product.moneda=="bitcoins" ){%>selected<%}%> value="bitcoins">
                                                    Bitcoins</option>
                                            <option <%if(product.moneda=="euros" ){%>selected<%}%> value="euros">
                                                    Euros</option>
                                            <option <%if(product.moneda=="guaranies" ){%>selected<%}%>
                                                    value="guaranies">
                                                    Guaraníes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="formulario__item last-item">
                                    <button class="formulario__icon-submit" type="submit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                </div>
                    </form>
                    <form class="formulario--delete" action="/product/<%=product.id%>/delete?_method=DELETE"
                        method="POST">
                        <button class="formulario__icon-delete" type="submit">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </div>
            </main>
        <!--footer-->
        <%- include('../partials/footer.ejs')%>
    </div>
</body>

</html>