<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/userEdit.css">
    <title>Editar Usuario</title>
</head>

<body>
    <!--header-->
    <%- include('../partials/header.ejs')%>
     <!-- MAIN -->
    <div class="fondo">
            <main>
                <section class="titulo">
                    <h1 class="titulo__text">Editar Usuario</h1>
                </section>
                <div class="formulario__container">
                    <form class="formulario" action="/user/<%=user.id%>/edit?_method=PUT" method="post">
                        <div class="formulario__item">
                            <label class="formulario__label" for="id"> <%=user.nombre%> <%=user.apellido%> </label>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="email">Email:</label>
                            <input class="formulario__input" type="email" id="email" name="email"
                                value="<%=user.email%>">
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="nombre">Nombre:</label>
                            <textarea class="formulario__input input--text-area" type="text" id="nombre"
                                name="nombre"><%=user.nombre%></textarea>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="apellido">Apellido:</label>
                            <textarea class="formulario__input input--text-area" type="text" id="apellido"
                            name="apellido"><%=user.apellido%></textarea>
                         </div>
                         <div class="formulario__item">
                            <label class="formulario__label" for="contraseña">Cambiar contraseña:</label>
                            <input class="formulario__input" type="password" id="contraseña" name="contraseña"
                                value="<%=user.contraseña%>">
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="contraseña">Confirme su contraseña:</label>
                            <input class="formulario__input" type="password" id="contraseña" name="contraseña"
                                value="<%=user.contraseña%>">
                        </div>
                          <div class="formulario__item last-item">
                                    <button class="formulario__icon-submit" type="submit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                </div>
                   </form>
                
                                   <form class="formulario--delete" action="/user/<%=user.id%>/delete?_method=DELETE"
                    method="POST">
                    <button class="formulario__icon-delete" type="submit">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>
            </div>  
            </main>
        <!--footer-->
        <%- include('../partials/footer.ejs')%>
    </div>
</body>

</html>