<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%> 
        <link rel="stylesheet" href="/css/userEdit.css">
        <script src="/js/userEditValidations.js" defer ></script>
        <title>Editar Usuario</title>
</head>

<body>
    <!--header-->
    <%- include('../partials/header.ejs')%>
        <!-- MAIN -->
        <div class="fondo">
            <main>
                <section class="titulo">
                    <h1 class="titulo__text">Editar Usuario</h1>
                </section>
                <div class="formulario__container">
                    <form autocomplete="off" class="formulario" action="/user/<%=user.id %>/edit?_method=PUT" method="post" enctype="multipart/form-data">
                        <div class="formulario__item">
                            <label class="formulario__label label--username" for="id">
                                <%=user.nombre%>
                                    <%=user.apellido%>
                            </label>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="nombre">Nombre:</label>
                            <input class="formulario__input <%= locals.errors && errors.nombre ? 'input--invalid': null %>"
                                type="text" id="nombre" name="nombre" value="<%=user.nombre%>">
                                <i class="fa-solid fa-circle-check input--icon icon--valid hidden" id="iconValidNombre"></i>
                                <i class="fa-solid fa-circle-exclamation input--icon icon--invalid hidden" id="iconInvalidNombre"></i>
                                <p class="formulario__error" id="errorNombre">
                                    <%= (locals.errors && errors.nombre)? errors.nombre.msg : "" %> 
                                </p>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="apellido">Apellido:</label>
                            <input
                                class="formulario__input <%= locals.errors && errors.apellido ? 'input--invalid' : null %>"
                                type="text" id="apellido" name="apellido" value="<%=user.apellido%>">
                                <i class="fa-solid fa-circle-check input--icon icon--valid hidden" id="iconValidApellido"></i>
                                <i class="fa-solid fa-circle-exclamation input--icon icon--invalid hidden" id="iconInvalidApellido"></i>
                                <p class="formulario__error" id="errorApellido">
                                    <%= (locals.errors && errors.apellido)? errors.apellido.msg : "" %> 
                                </p>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="email">Email:</label>
                            <input class="formulario__input <%= locals.errors && errors.email ? 'input--invalid' : null %>"
                                type="email" id="email" name="email" value="<%=user.email%>" autocomplete="off">
                                <i class="fa-solid fa-circle-check input--icon icon--valid hidden" id="iconValidEmail"></i>
                                <i class="fa-solid fa-circle-exclamation input--icon icon--invalid hidden" id="iconInvalidEmail"></i>
                                <p class="formulario__error" id="errorEmail">
                                    <%= (locals.errors && errors.email)? errors.email.msg : "" %> 
                                </p>
                         </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="direccion">Dirección:</label>
                            <input
                                class="formulario__input <%= locals.errors && errors.direccion ? 'input--invalid' : null %>"
                                type="text" id="direccion" name="direccion" value="<%=user.direccion%>">
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="telefono">Teléfono:</label>
                            <input
                                class="formulario__input <%= locals.errors && errors.telefono ? 'input--invalid' : null %>"
                                type="tel" id="telefono" name="telefono" value="<%=user.telefono%>" placeholder="+54 XXX XXXXXXXX">
                                <i class="fa-solid fa-circle-check input--icon icon--valid hidden" id="iconValidTel"></i>
                                <i class="fa-solid fa-circle-exclamation input--icon icon--invalid hidden" id="iconInvalidTel"></i>
                                <p class="formulario__error" id="errorTel">
                                    <%= (locals.errors && errors.telefono)? errors.telefono.msg : "" %> 
                                </p>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="profile-picture">Imagen de perfil:</label>
                            <input class="formulario__input input--file" type="file" id="profilePicture"
                                name="profilePicture" accept="image/png, image/jpeg">
                                <i class="fa-solid fa-circle-check input--icon icon--valid hidden" id="iconValidImagen"></i>
                                <i class="fa-solid fa-circle-exclamation input--icon icon--invalid hidden" id="iconInvalidImagen"></i>
                                <p class="formulario__error" id="errorProfilePicture">
                                    <%= (locals.errors && errors.profilePicture)? errors.profilePicture.msg : "" %> 
                                </p>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="password">Cambiar contraseña:</label>
                            <input class="formulario__input <%= locals.errors && errors.password ? 'input--invalid' : null %>"
                                type="password" id="password" name="password" autocomplete="new-password">
                                <i class="fa-solid fa-circle-check input--icon icon--valid hidden" id="iconValidPass"></i>
                                <i class="fa-solid fa-circle-exclamation input--icon icon--invalid hidden" id="iconInvalidPass"></i>
                                <p class="formulario__error" id="errorPassword">
                                    <%= (locals.errors && errors.password)? errors.password.msg : "" %> 
                                </p>
                        </div>
                        <div class="formulario__item">
                            <label class="formulario__label" for="password">Confirme su contraseña:</label>
                            <input
                                class="formulario__input <%= locals.errors && errors.passwordRepetir ? 'input--invalid' : null %>"
                                type="password" id="password-repetir" name="passwordRepetir" autocomplete="new-password">
                                <i class="fa-solid fa-circle-check input--icon icon--valid hidden" id="iconValidPassR"></i>
                                <i class="fa-solid fa-circle-exclamation input--icon icon--invalid hidden" id="iconInvalidPassR"></i>
                                <p class="formulario__error" id="errorPasswordR">
                                    <%= (locals.errors && errors.passwordRepetir)? errors.passwordRepetir.msg : "" %> 
                                </p>
                        </div>
                        <div class="formulario__item last-item">
                            <button class="formulario__icon-submit" type="submit">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </form>

                    <form class="formulario--delete" action="/user/<%=user.id%>/delete?_method=DELETE" method="POST">
                        <button class="formulario__icon-delete" type="submit">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </div>
            </main>
            <!--footer-->
            <%- include('../partials/footer.ejs')%>
        </div>
</body>

</html>